<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mt-3">
      <app-input-with-label label="Nome do Funcionário" [content]="worker.name"></app-input-with-label>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mt-3">
      <app-input-with-label label="Departamento" [content]="worker.department"></app-input-with-label>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mt-3">
      <app-input-with-label label="Turno" [content]="worker.workShift"></app-input-with-label>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mt-3">
      <app-input-with-label label="Telefone" [content]="worker.phone"></app-input-with-label>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mt-3">
      <app-input-with-label label="E-mail" [content]="worker.emailAddress"></app-input-with-label>
    </div>

  </div>


</div>
