<div class="footer fundo-azul-escuro d-flex justify-content-between align-items-center">
  <div class="atalho"
    [ngClass]="{'fundo-azul-com-baixa-saturacao': getSelectedMenu() == 0, 'nao-clicavel': getSelectedMenu() === 0}"
    (click)="selectMenu(0)">
    <div class="d-flex flex-column align-items-center">
      <img src="../../assets/icons/home-icon.png" width="55px" height="55px">
      <span class="mt-2">Início</span>
    </div>
  </div>
  <div class="divisor"></div>
  <div class="atalho"
    [ngClass]="{'fundo-azul-com-baixa-saturacao': getSelectedMenu() == 1, 'nao-clicavel': getSelectedMenu() === 1}"
    (click)="selectMenu(1)">
    <div class="d-flex flex-column align-items-center">
      <img src="../../assets/icons/worker-icon.png" width="55px" height="55px">
      <span class="mt-2">Funcionários</span>
    </div>
  </div>
  <div class="divisor"></div>
  <div class="atalho"
    [ngClass]="{'fundo-azul-com-baixa-saturacao': getSelectedMenu() == 2, 'nao-clicavel': getSelectedMenu() === 2}"
    (click)="selectMenu(2)">
    <div class="d-flex flex-column align-items-center">
      <img src="../../assets/icons/clock-icon.png" width="55px" height="55px">
      <span class="mt-2">Marcações</span>
    </div>
  </div>
  <div class="divisor"></div>
  <div class="atalho"
    [ngClass]="{'fundo-azul-com-baixa-saturacao': getSelectedMenu() == 3, 'nao-clicavel': getSelectedMenu() === 3}"
    (click)="selectMenu(3)">
    <div class="d-flex flex-column align-items-center">
      <img src="../../assets/icons/report-icon.png" width="55px" height="55px">
      <span class="mt-2">Relatórios</span>
    </div>
  </div>
</div>
