
$altura-barra: 120px;

.divisor {
  height: $altura-barra;
  width: 1px;
  background-color: white;
}

.atalho {
  height: $altura-barra;
  width: calc(25% - 3px);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  cursor: pointer;
}

.nao-clicavel{
  cursor: default;
}
