<br>
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-xl-3">
      <label>Componente de Métrica</label>
      <app-dashboard-card titulo="Quantidade de Funcionarios" valor="467" corValor="#dc3545"></app-dashboard-card>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-xl-3">
      <label>Componente de Input com label integrado</label>
      <app-input-with-label label="Nome do Funcionário" placeholder="Nome"></app-input-with-label>
    </div>
  </div>
</div>
