<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mt-3">
      <app-input-with-label label="Nome do Funcionário" [conteudo]="funcionario.nome"></app-input-with-label>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mt-3">
      <app-input-with-label label="Departamento" [conteudo]="funcionario.departamento"></app-input-with-label>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mt-3">
      <app-input-with-label label="Turno" [conteudo]="funcionario.turno"></app-input-with-label>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mt-3">
      <app-input-with-label label="Telefone" [conteudo]="funcionario.telefone"></app-input-with-label>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mt-3">
      <app-input-with-label label="E-mail" [conteudo]="funcionario.email"></app-input-with-label>
    </div>

  </div>


</div>
