<div class="main-div w-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 col-xl-3 mt-3">
        <button class="btn btn-primary fundo-azul-com-baixa-saturacao w-100">Cadastrar Funcionário</button>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-xl-3 mt-3">
        <button class="btn btn-primary fundo-azul-com-baixa-saturacao w-100" (click)="goToWorkerSearchPage()">Buscar Funcionários</button>
      </div>
    </div>
  </div>
</div>
