<div class="container">
  <div class="row">
    <div class="col-12 mt-3">
      <app-operation-title [imageFrom]="titleIcon" text="Busca de Marcação"></app-operation-title>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mt-4">
      <button class="btn btn-primary fundo-azul-com-baixa-saturacao w-100" (click)="viewAll()">Todas as
        Marcações</button>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mt-4">
      <button class="btn btn-primary fundo-azul-com-baixa-saturacao w-100" (click)="viewByWorker()">Marcações por
        Funcionário</button>
    </div>
  </div>
</div>
