<p><b>Feito por Gabriel Alan M. Gonçalves</b></p>
<ul>
  <li>Mapear componentes à rotas no módulo de rotas.</li>
  <li>Criar navegação entre páginas por meio de rotas.</li>
  <li>Passar dados via hierarquia de componentes, ou seja, usando @Input ou @Output. <b>OBS: o @Output está sendo usado no input de busca.</b></li>
  <li>Passar dados entre componentes que representam diferentes telas via parâmetros de rotas. <b>OBS: Este caso se trata ao clicar no nome de um funcionário na busca de funcionários.</b></li>
</ul>
