.dashboard-card {
  width: 100%;
  background-color: white;
}

.dashboard-card-height {
  height: 100px;
}

.dashboard-card-value {
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
}

.dashboard-card-font {
  font-family: 'Montserrat', sans-serif;
}

