/* You can add global styles to this file, and also import other style files */

body {
  background-color: rgb(194, 194, 194) !important;
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Font utilizada para títulos*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");

$azul-com-baixa-saturacao: #4b6584;
$azul-claro: #2d98da;
$azul-escuro: #3867d6;


.fundo-azul-com-baixa-saturacao {
  background-color: $azul-com-baixa-saturacao !important;
}

.fundo-azul-claro {
  background-color: $azul-claro !important;
}

.fundo-azul-escuro {
  background-color: $azul-escuro !important;
}

.cor-azul-com-baixa-saturacao {
 color: $azul-com-baixa-saturacao !important;
}

.cor-azul-claro {
  color: $azul-claro !important;
}

.cor-azul-escuro {
  color: $azul-escuro !important;
}
