<p><b>Feito por Gabriel Alan M. Gonçalves</b></p>
<ul>

  <b>As atualizações para realização da Atividade 13 estão no menu Marcações -> Registrar Marcação de Funcionário</b>
  <li> Apresentar uma lista de dados com a diretiva estrutural ngFor: <b>Lista de funcionários renderizada em componente de busca de funcionários por nome;</b> </li>
  <li>Usar a diretiva estrutural ngIf para mostrar ou esconder elementos: <b>O componente de busca de funcionários esconde ou mostra em uma listagem os funcionários que possuam o texto digitado em seu nome;</b></li>
  <li>Formatar a apresentação de dados com Pipes: <b>Ao registrar o funcionário, é exibido um modal que mostra a data e hora da operação, formatados com o pipe date;</b></li>
  <li>Fazer requisições a API com tratamento da resposta com Observables: <b>A busca dos funcionários foi migrada de uma busca em WebStorage para uma chamada ao JSON Server, utilizando Observable.</b></li>

</ul>
