<div class="container">
  <div class="row">
    <div class="col-12 mt-4">
      <app-dashboard-card title="Quantidade de funcionários" [value]="numberOfWorkers" valueColor="#2d98da"></app-dashboard-card>
    </div>
    <div class="col-12 mt-4">
      <app-dashboard-card title="Quantidade de Marcações realizadas" [value]="numberOfClockPunches" valueColor="#4b6584"></app-dashboard-card>
    </div>
    <div class="col-12 mt-4">
      <app-dashboard-card title="Horas trabalhadas durante a semana" [value]="hoursOfWork" valueColor="#20bf6b"></app-dashboard-card>
    </div>
  </div>
</div>
